@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

* {
    font-family: 'Balsamiq Sans', sans-serif;
}

.todo-list {
    margin-bottom: 10px;
    padding: 0 16px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.todo-list .todo-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
}