@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        background: white;
        background-image: radial-gradient(black 2px, transparent 0);
        background-size: 30px 30px;
        background-position: -19px -19px;

    }

    #bg {

        box-shadow: rgba(0, 0, 0, 0) 4px 4px 4px 4px, rgba(14, 30, 37, 0.32) 8px 8px 8px 8px;
    }

    .borders {
        border-radius: 50px;
        border-width: 12px;
    }



}